node_modules
# Keep environment variables out of version control
.env

/generated/prisma


# Prisma
/prisma/dev.db           # local SQLite DB
/prisma/client           # generated Prisma client

# Optional: ignore SQL dump files
*.sql
