.header {
    background-color: rgba(250, 250, 250, 1);
    height: 100vh;
}

.title {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.p {
    color: black;
    text-align: center;
}